# EDA on Financial Data

### Package Dependencies

`yfinance` - To fetch data from yahoo finance

`pandas` - To read data and explore data

For installing above packages run below in jupyter notebook.

!pip install yfinance

!pip install pandas

In [3]:
# Importing dependencies
import yfinance as yf
import pandas as pd
import datetime as dt

### Fetching Data

In [5]:
# Define the yahoo finance ticker for Nifty50
nifty_ticker = '^NSEI'
start_date = dt.date(2019, 1, 1)
end_date = dt.date(2024, 5, 10)

In [6]:
nifty_levels_data = yf.download(nifty_ticker, start=start_date, end=end_date)
nifty_levels_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,10868.849609,10895.349609,10735.049805,10792.500000,10792.500000,309700
2019-01-03,10796.799805,10814.049805,10661.250000,10672.250000,10672.250000,286200
2019-01-04,10699.700195,10741.049805,10628.650391,10727.349609,10727.349609,296600
2019-01-07,10804.849609,10835.950195,10750.150391,10771.799805,10771.799805,269400
2019-01-08,10786.250000,10818.450195,10733.250000,10802.150391,10802.150391,277700

In [7]:
nifty_levels_data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-05-03,22766.349609,22794.699219,22348.050781,22475.849609,22475.849609,438100
2024-05-06,22561.599609,22588.800781,22409.449219,22442.699219,22442.699219,320300
2024-05-07,22489.750000,22499.050781,22232.050781,22302.500000,22302.500000,297800
2024-05-08,22231.199219,22368.650391,22185.199219,22302.500000,22302.500000,277400
2024-05-09,22224.800781,22307.750000,21932.400391,21957.500000,21957.500000,331300

In [9]:
nifty_levels_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1318 entries, 2019-01-02 to 2024-05-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1318 non-null   float64
 1   High       1318 non-null   float64
 2   Low        1318 non-null   float64
 3   Close      1318 non-null   float64
 4   Adj Close  1318 non-null   float64
 5   Volume     1318 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 72.1 KB

In [10]:
nifty_levels_data.to_csv('nifty_levels_data.csv')

In [13]:
nifty_constituents = pd.read_csv(r'../data/NiftyStockAnalysis/ind_nifty50list.csv')
nifty_constituents.head()

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT,EQ,INE423A01024
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS,EQ,INE742F01042
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP,EQ,INE437A01024
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT,EQ,INE021A01026
4,Axis Bank Ltd.,Financial Services,AXISBANK,EQ,INE238A01034

In [16]:
stock_ticker_list = (nifty_constituents['Symbol'] + '.NS').tolist()
stock_ticker_list

['ADANIENT.NS',
 'ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BPCL.NS',
 'BHARTIARTL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'ITC.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LTIM.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NTPC.NS',
 'NESTLEIND.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBILIFE.NS',
 'SHRIRAMFIN.NS',
 'SBIN.NS',
 'SUNPHARMA.NS',
 'TCS.NS',
 'TATACONSUM.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'WIPRO.NS']

In [17]:
stock_data = yf.download(stock_ticker_list, start=start_date, end=end_date)
stock_data.head()

[*********************100%%**********************]  50 of 50 completed

Price        Adj Close                                                        \
Ticker     ADANIENT.NS ADANIPORTS.NS APOLLOHOSP.NS ASIANPAINT.NS AXISBANK.NS
Date
2019-01-01  155.387482    376.710541   1247.683105   1323.929565  624.932007
2019-01-02  153.015915    369.253845   1240.146118   1335.271362  617.709290
2019-01-03  150.693741    366.154907   1247.929199   1340.098022  605.655029
2019-01-04  150.743134    370.076965   1273.889893   1337.732788  617.260986
2019-01-07  149.458527    369.592773   1263.150879   1347.530396  635.043701

Price                                                               \
Ticker     BAJAJ-AUTO.NS BAJAJFINSV.NS BAJFINANCE.NS BHARTIARTL.NS
Date
2019-01-01   2307.134033    650.880798   2621.128418    284.345581
2019-01-02   2277.815186    637.113708   2578.903564    278.249268
2019-01-03   2285.726807    637.043762   2551.427979    279.005768
2019-01-04   2313.522217    639.753357   2541.414551    286.971008
2019-01-07   2249.511719    639.424011   2519.266602    289.195923

Price                   ...        Volume                             \
Ticker         BPCL.NS  ... SHRIRAMFIN.NS SUNPHARMA.NS TATACONSUM.NS
Date                    ...
2019-01-01  262.844727  ...      560211.0      8487116        716275
2019-01-02  256.223541  ...     1630108.0      9656878       1081778
2019-01-03  252.322342  ...     1585898.0      9479511       2096553
2019-01-04  257.297180  ...     1705357.0      6228693       1213181
2019-01-07  254.505554  ...      923825.0      4118235        871903

Price                                                             \
Ticker     TATAMOTORS.NS TATASTEEL.NS   TCS.NS TECHM.NS TITAN.NS
Date
2019-01-01       6715543     41281730  1094883   815535  2064502
2019-01-02      13410104    117473500  2100463  2576769  2672587
2019-01-03       9321842    135329440  2611668  3558015  3292918
2019-01-04      17650435    104800720  4280862  3926171  2340304
2019-01-07      21438351     84067870  1856423  1885000  5337211

Price
Ticker     ULTRACEMCO.NS WIPRO.NS
Date
2019-01-01         92921  2018271
2019-01-02        143828  4411069
2019-01-03        223538  4723040
2019-01-04        220079  3207036
2019-01-07        220371  2538138

[5 rows x 300 columns]

In [18]:
stock_data.tail()

Price         Adj Close                                            \
Ticker      ADANIENT.NS ADANIPORTS.NS APOLLOHOSP.NS ASIANPAINT.NS
Date
2024-05-03  2993.250000   1320.300049   6009.600098   2929.750000
2024-05-06  2874.649902   1289.949951   6056.700195   2932.149902
2024-05-07  2835.949951   1287.650024   5900.250000   2913.000000
2024-05-08  2860.550049   1277.250000   5846.500000   2843.300049
2024-05-09  2766.649902   1244.550049   5806.399902   2710.100098

Price                                                              \
Ticker      AXISBANK.NS BAJAJ-AUTO.NS BAJAJFINSV.NS BAJFINANCE.NS
Date
2024-05-03  1141.500000   9105.599609   1627.300049   6931.500000
2024-05-06  1143.650024   9052.549805   1611.349976   6859.850098
2024-05-07  1127.699951   8677.900391   1615.150024   6872.549805
2024-05-08  1128.650024   8749.400391   1603.050049   6799.450195
2024-05-09  1115.650024   8846.849609   1564.599976   6605.149902

Price                                 ...        Volume               \
Ticker     BHARTIARTL.NS     BPCL.NS  ... SHRIRAMFIN.NS SUNPHARMA.NS
Date                                  ...
2024-05-03   1277.400024  629.849976  ...     1524429.0      3183226
2024-05-06   1283.400024  610.250000  ...      865357.0      1240626
2024-05-07   1286.150024  604.299988  ...     1565174.0      1532550
2024-05-08   1288.599976  620.299988  ...     1464955.0      1026357
2024-05-09   1275.449951  592.150024  ...      820803.0      1477007

Price                                                                  \
Ticker     TATACONSUM.NS TATAMOTORS.NS TATASTEEL.NS   TCS.NS TECHM.NS
Date
2024-05-03       2935813      11871773     62573586  2962234  2322455
2024-05-06       1076304       5724760     37621296  2053831  1363667
2024-05-07       2614541       8877426     43611824  2062112  2350444
2024-05-08       1071294       7519352     30128705  1247685  1332284
2024-05-09       1743688      19189798     30223088  1726486  2420777

Price
Ticker     TITAN.NS ULTRACEMCO.NS WIPRO.NS
Date
2024-05-03  1681592        517348  4865313
2024-05-06  6891728        238521  3459063
2024-05-07  3111444        214305  4639264
2024-05-08  2054981        392065  4102840
2024-05-09  1860654        328724  4616742

[5 rows x 300 columns]

In [20]:
stock_data.to_csv('stock_data.csv')